@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: rgb(9, 28, 37);
}

@media (min-width: 700px) {
  html {
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: calc(100vh - 100px);
  background-position: center top;
  background-size: cover;
  color: white;
  height: 100%;
}

img {
  max-width: 100%;
}
